@charset "utf-8";
@keyframes moving{
  from{left: 100%;}
  to{left:70%;}
}
* { 
    margin: 0;
    padding:0;
    font-family: 'Noto Sans Kr','맑은 고딕', '돋움', 'sans-serif';
}
/* body {min-width:1200px; } */
#header-wrap { 
                  width: 1200px;
                  margin: 0 auto;
                  /* position:relative; */
                }
#header-meta {width: 1200px; 
              /* border: 1px solid gray;  */
              height: 100px;}
#header-wrap a {text-decoration:none; line-height:100px; color: gray; margin:10px; }
/* #header-wrap ul {margin-left: 20px; } */
#header-wrap li {list-style-type:none;  text-align:right;}
#logo h1 { color:rgb(212, 88, 88); 
           display:inline; 
           font-weight: 600;
           /* text-shadow : 0 0 20px 20px #141414; */
          }
#login_menu ul {position:absolute; right:17%; top:0;}
#login_menu ul li {display:inline;}
/* #menu {position: relative;} */
#modal { display:none;}
#modal .col-md {margin: 15px;
                padding: 0 20px;
                text-align: center;
                display:flex;}
#header-nav { height: 60px;
              border-top: 1px solid gray;
              } 
#header-nav nav ul li { display:inline;  
                        } 
#header-nav nav ul li h3 { display:inline;
                            } 
#header-nav nav ul li h3 a {line-height:60px;}
#header-nav nav ul li h3 a:hover { color:red;
                                   } 
#search_content {position:absolute; right:15%; top:115px;
                 width: 260px;
                 text-align: center;
                 border-right: 1px solid gray;
                 border-left: 1px solid gray;
                }
#search_content input {margin: 9px;
                       width: 200px;                       
                       outline :none; 
                       border:none;
                       }
#search_content button {
                        border:none;
                        cursor: pointer;
                        }
#container {height: 3000px; margin: 0 auto;}
#adv_wrap {width: 100%; height: 500px;
                border-top: 3px solid red; 
                background-color:black;
                margin: 0 auto;
                }
/* #carousel button {
                  position:absolute;
                  color:white;
                  opacity: 0.5;
                  background:none;
                  top: 350px;
                  outline:none;
                  border:none;
                  line-height:100px;
                  z-index:999;
                  } */
/* #carousel { margin: 0 auto;} */
#brom { 
            width: 973px; height: 500px;
            overflow:hidden;
            margin: 0 auto;
            display:flex;
            /* border:2px solid #141414;
            box-shadow : 0 0 5px 5px #141414;
            border-radius :10px; */
            }
#bes_chart {background-color:lightgray;
            height: 470px;}
#contents {width: 1200px; margin:0 auto;
           }
#chart_button_wrap {position: relative;
                    height: 80px;
                    line-height:100px;}
#chart_button_wrap div {display:inline;}
#chart_button_wrap h3 {display:inline;}
#chart_button_wrap a {text-decoration: none;
                         color: gray;
                        margin:8px;}
/* #chart_button_wrap a:hover {} */
#chart_button_wrap h3:nth-child(1) {border-right: 2px solid gray;
                                    padding-right:7px;}
#chart_button_wrap h3:nth-child(2) {padding-right:800px;}
#card_wrap {position:flex; margin: 0 auto;}
.card {display:inline;
       /* position:relative; */
         width: 200px;}
.card img {border-radius: 10%;
           margin:10px;
           box-shadow : 5px 7px 5px rgba(0, 0, 0, 0.3);
           }
.card_name h3 {
          width: 190px;
          text-align: center;
          float:left;
          /* width: 600px; */
          /* padding:0 20px; */
          margin:10px 17px;
          /* border:1px solid gray; */
          text-align :center;
          /* left:0;  */
          /* top:300px; */
}
#event {width: 1200px; margin: 0 auto;}
#event h1 { margin:50px 50px 25px 30px;}
.event_card img {border-radius: 10%;
                 margin:0 20px 0px 20px;
                 border:1px solid lightgray;
                 /* box-shadow : 5px 7px 5px rgba(0, 0, 0, 0.3); */
  }
.event_card_name h3 {
                 width: 320px;
                 text-align: center;
                 float:left;
                 margin:20px 27px;}
#premium {width: 1200px; 
          margin: 0 auto;
          height: 450px;}
#premium h1 { margin:100px 50px 25px 30px;}
#vip_card img {border-radius: 10px;
               position:relative;
               margin:0 20px 0px 20px;
               border:1px solid lightgray;
               box-shadow : 5px 7px 5px rgba(0, 0, 0, 0.1);
  }
  .tmp { float:left;
         /* margin: 0 30px; */
         }
/* #vip_section ul {} */
#vip_section li {
                 width: 230px;
                 text-align: left;
                 list-style:none;
                 margin-left:30px;
                 padding:20px 260px 20px 20px;
                 font-size: 20px;
                 font-weight: 400;
                 border-top:1px solid lightgray;
}
#vip_section li a {text-decoration: none;
                   color:black;}
#vip_section li:nth-child(4) {border-bottom:1px solid lightgray;}
.hidden {display:none;}
#store { display:flex; width: 1200px; height: 520px;
         margin: 0 auto;}
#store content {width: 33%;
                border:1px solid lightgray;
                border-radius: 20px; 
                margin:18px;}
#store content h3 {margin:30px;}
#store content h3 span {padding-left:150px;
                        font-size:15px;
                        border:1px solid light gray;
                        border-radius: 10px;
                        font-weight:400;}
#store content img { width: 150px;
                     position:relative;
                     float: left;
                     margin: 10px;
                     padding: 0 20px;
                    } 
#store content div {padding:40px 0;
                    float:left;
                    text-align:center;
                    /* display: inline-flex;
                    flex-direction: column; */
                    top:-200px;
                    width: 130px;}    
#footer {height: 150px; 
         width: 1200px; margin: 0 auto;
         background-color:pink;
         text-align: center;}
#footer dl dt {display:inline;}
